@(anuncios: List[Anuncio])
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>The Quick Ad Musical</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/font-awesome.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")"/>

</head>
<body>
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index()">

                    <img src="@routes.Assets.at("images/logo.png")" />
                </a>

            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">

                         <li class="dropdown">
							<a href="@routes.Application.cadastro()">
                               <span class="glyphicon glyphicon-plus" style="font-size: 25px;"></span>
                            </a>
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="@routes.Application.index()">Home</a></li>
                            <li><a href="@routes.Application.cadastro()">Cadastrar</a></li>
                            <li><a href="@routes.Application.sobre()">Sobre</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line">Home</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-success">
                        <h4>Esse site você poderá criar anuncios da sua banda ou fazer anúncios de interesse em participar de bandas, logo abaixo
                            você encontra o botão para criar seu anuncio. Você também poderá buscar anúncios criados por outras pessoas na barra
                            de navegação, clicando em "Pesquisar".</h4>
                    </div>
                </div>

            </div>
                    <div class="text-center alert alert-info">
                        <a href="@routes.Application.cadastro()" class="btn btn-info"><span class="glyphicon glyphicon-list"></span> Criar anuncio </a>&nbsp;
                    </div>
                     
                    <hr />
                    
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Título</th>
                                <th>Data</th>
                                <th>Contato</th>
                                <th>Descrição</th>
                                <th>Bairro / Cidade</th>
                                <th>Interesse na banda</th>
                                <th>Estilos que gosta</th>
                                <th>Estilos que não gosta</th>
                                <th>Instrumentos que toca</th>
                            </tr>
                            </thead>
                            <tbody>
                            <div id="anuncios">                            
							@for(anuncio <- anuncios) {                                       
                            <tr>
                                <td><label class="label label-info">@anuncio.getTitulo()</label></td>
                                <td>@anuncio.getData() </td>
                                <td><a href="" class="btn btn-social btn-facebook"><i class="fa fa-facebook"></i>&nbsp; Facebook Account</a> &nbsp;OR&nbsp; @anuncio.getEmail()</td>
                                <td>@anuncio.getDescricao()</td>
                                <td>@anuncio.getBairro(), @anuncio.getCidade()</td>
                                <td>@anuncio.getInteresse()</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            }
                            </div>                            
                            </tbody>
                        </table>
                    </div>
                </div>

    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    &copy; Mendelssohn Dantas de Sa | By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                </div>

            </div>
        </div>
    </footer>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
</body>
</html>